<h1>Grades and scales for guidebook authors</h1>
<section>
  <h2>Simple starting points for global scales</h2>
  compare French to YDS, or Font to V.
  expand your YDS grades to match what you use in your book.
  download a chart explaining how you use (sub)ratings in your local area.
</section>

      <ul>
        <li>accurately describe local & regional rating conventions</li>
        <li>generate nice charts</li>
      </ul>
