<style>
    html {
        font-size: 14px;
    }
    body {
        font-family: sans;
        padding: 0;
        margin: 0;
    }
    @media (min-width: 1000px) and (min-height: 700px) {
        main {
            height: 84vh;
            width: 950px;
            margin: 8vh auto;
            display: grid;
            grid-template-columns: auto 30ch;
            grid-template-rows: auto auto 4rem;
            grid-template-areas: 
              "intro more"
              "intro more"
              "footer footer";
        }
        .intro {
            grid-area: intro;
            background-color: #222;
            color: #eee;
            padding: 30px;
            font-size: 1.3rem;
        }
        .banner {
            margin-top: 0;
        }
        .banner br.tall {
            margin-bottom: 1em;
        }
        .steps {
            line-height: 1.6em;
        }
        .steps ol {
            padding-top: 0;
            margin-top: 0;
        }
        .more {
            padding-left: 2em;
            grid-area: more;
        }
        .more article {
            margin-bottom: 1em;
        }
        .footer {
            grid-area: footer;
            height: 4rem;
            line-height: 4rem;
            text-align: center;
        }
        .footer p {
            margin: 0;
        }
    }
    @media (max-width: 1200px) or (max-height: 700px) {
    }
</style>

<main>
    <section class="intro">
        <p class="banner">
            Climbing Grades are usually simple.<br>
            Sometimes, they can get messy.<br class="tall">
            If you&apos;re a guidebook author explaining grades,<br>
            this is for you.<br class="tall">
            If you&apos;re a software developer implementing grade conversion,<br>
            this is for you.
        </p>
        <ol class="steps">
            <li><a href="/editor/">Edit a chart</a> to create a simple data file</li>
            <li><a href="/generate/">Generate images</a> based on your data</li>
            <li><a href="/lib/">Use Libraries</a> to interact with your data</li>
        </ol>
    </section>
    <section class="more">
        <article>
            This project addresses <a href="/complication-of-grades/">The Complication of Grades</a>
            <a href="/grade-adjacent/">Grade Adjacent</a> and
            <a href="grading-systems-overview/">Grading Systems Overview </a>
        </article>
        <article>
            Why is this more complicated than a plain editor?
            This makes it easier for future climbers to do better.
            Calculator is more complicated than slide-rule.
            Laptop is more complicated than a calculator.
            <a href="/why/">Why this editor?</a>
            covers the rationale for this project,
            and how it differs from existing projects.
            If you're still interested in more info,
            you can also look around to find some 
            <a href="/alternatives/">other solutions</a>.
        </article>
        <article>
            There are a choices that can be made around implementing grade conversion
            that are open to interpretation.
            Instead of bloating the software to fit each case,
            this project chooses to support building on top
            and offers extra info
            <a href="/for-software-developers/">for software developers</a>
            and
            <a href="converting-between-grading-systems/">converting between systems</a>
        </article>
        <article>
            Guidebook authors have been handling this
            since long before the first climbing app or website.
            <a href="/for-guidebook-authors/">this page</a>
        </article>
    </section>
    <section class="footer">
      <p>
         See <a href="//about.steleclimbing.org">stele</a> for other small, self-contained climbing projects.
         the <a href="//codeberg.org">soure</a> and 
         or <a style="background:red;" href="/climbing-grade-table-editor.zip">download this version</a>.
      </p>
    </section>
</main>
total 48
