<h1>Converting between Climbing Grade Systems</h1>

<h2>Grades are not a single value<h2>
<p>
  link to the section in <q>Coimplication of climbin grades</q>
</p>

<h2>Why you can&apos;t store only representation value<h2>
<p>
  This is specific to an growing system or dataset.
  If grades are never added, removed, or updated, you can optimize however you want.
</p>
<p>
  Suppose you say in 2025, you design a system that says that 5.10 runs from [510.0,510.9]
  Someone uploads Sons Yesterday as 5.10b and you convert it to 510.2 behind the scenes for storage.
  Someone else Uploads Serenity Crack (5.10d) as 6b+ and you convert it to 510.8 the scenes for storage and compatibility.
  Now, if you need to adjust any conversion, those stored values need to be updated. 
  If you're a new developer and didn't store the original "5.10b" and "6b+" string, you've lost data.
  If you still have the "5.10b" and "6b+" string, and have cached the 5150 and 5190 representations. The cache needs to be refreshed.
</p>
<ul>
  <li>Always store the original grade string (and system)</li>
  <li>Any numeric representation is only a cache</li>
</ul>
  
